{% extends 'main/mail/email_base.html' %}

{% block title %}Your Message Has Been Received{% endblock %}

{% block subtitle %}Thank you for contacting us{% endblock %}

{% block subject %}Your message has been successfully received{% endblock %}

{% block content %}
We are very happy to hear from you.
Your message has been successfully recorded, and we will get back to you as soon as possible.
If you have any additional information or further inquiries, please do not hesitate to contact us again.
{% endblock %}
